<header><h1 id="video" style="margin-top: 20px;">Day4 : Video Element</h1></header>
<main>
<video controls height="500px" width="750px" style="margin-left: 20px;">
  <source src="assets/Codezone.mp4" type="video/mp4">
  Your browser does not support the video element.
</video>
<img src="assets/Asset 6NJ Fence And Landscaping1.0.svg" alt="svg image not available" style="height: 500px; width: 500px; margin-left: 100px;"> 
</main>
<footer style="margin-top: 50px; margin-left: 20px;">
<div>This is a div element, as a semantic element.</div>
</footer>