<h1 style="margin-top: 20px;">DAY1 : Basics of html.</h1>
<!-- ordered list added -->
<ol>
  <li>This is my <span>FIRST</span> element in span.</li>
  <li>This is my <strong>Strong</strong> element in span.</li>
  <li>This is my <span>THIRD</span> element in span.</li>
</ol>
<!--Adding an Image-->
<img src="/assets/html-picture.jpg" alt="Sample Image" height="500px" width="500px">
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum eligendi, vitae sequi neque voluptatibus
  praesentium<br>
  asperiores exercitationem enim mollitia nobis! Consequatur excepturi nam repellat soluta aspernatur culpa
  obcaecati,<br>
  corrupti necessitatibus repellendus quod animi fugit possimus laudantium et. Eius sunt quo ipsum nisi iure <br>
  voluptates, nesciunt, repellendus excepturi nostrum, sed vero? Odio, temporibus at placeat natus necessitatibus <br>
  iusto laudantium repellat dicta autem doloremque soluta aliquam officia quaerat dolor, sint a officiis, ex nobis
  <br>
  nostrum aspernatur porro. Necessitatibus blanditiis, amet obcaecati nulla iusto laborum, asperiores consequatur qui
  <br>
  doloremque pariatur beatae autem quasi facere commodi repellendus! Voluptatem a temporibus sint officiis! Harum,
  <br>
  qui.
</p>