<h1 id="tables" style="margin-top: 20px;">Day 2:Tables</h1>
  <h3>TABLE 1:</h3>
  <table style="border-collapse: collapse; width: 400px;height: 600px; ">
    <tr>
      <td rowspan="2" style="background-color: brown;"></td>
      <td colspan="2" style="background-color: burlywood;"></td>
    </tr>
    <tr>
      <td style="background-color: chocolate;"></td>
      <td style="background-color: tomato;"></td>
    </tr>
    <tr>
      <td style="background-color: violet;"></td>
      <td style="background-color: sienna;"></td>
      <td style="background-color: sandybrown;"></td>
    </tr>
  </table>
  <h3>TABLE 2:</h3>
  <table>
    <table style="border-collapse: collapse; width: 400px;height: 600px; ">
      <tr>
        <td colspan="2" style="background-color: seagreen;"></td>
        <td rowspan="2" style="background-color: springgreen;"></td>
      </tr>
      <tr>
        <td style="background-color: turquoise;"></td>
        <td style="background-color: yellowgreen;"></td>
      </tr>
    </table>